<nav class="navbar navbar-expand-lg">
    <div class="container container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('assets/img/logo-534-90x90.webp') }}" alt="Bootstrap" width="40" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="nav nav-tabs me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{path('app_main')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle disabled" aria-disabled="true" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Link
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Link</a>
                </li>
            </ul>
            <form class="d-flex ms-auto" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" disabled>
                <button class="btn btn-outline-success" type="submit" disabled>Search</button>
            </form>

            <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                {% if app.user %}
                    {# Si l'utilisateur as un role ROLE_PRODUCT_ADMIN, on affiche le menu Admin#}
                    {% if is_granted('ROLE_PRODUCT_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_index') }}">Admin</a>
                        </li>                        
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_users_show') }}">Mon compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                    </li>   
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li> 
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">
                        {% set nbItem = 0 %}
                        {% set cart = app.session.get('cart') %}
                        
                        {% if cart is not null %}
                            {% for id,value in cart %}
                                {% set nbItem = nbItem + value %}                                
                            {% endfor %}
                        {% endif %}
                        
                        {{ nbItem }}
                    </span>
                </button>
            </form>
        </div>
    </div>
</nav>
