{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="archive-title clearfix">
    <div class="row align-items-end">

        <div class="col-md-8">
            <h2 class="page-title mb-2 mb-md-0">Panier</h2>
            {#<span class="fs-13 text-gray-soft">Category</span>#}            
        </div>       
     
    </div>

</div>

<div class="bd-callout bd-callout-info">
    <code><strong>Quel sont les type de e-commerce ?</strong></code>
    
</div>

 <div>
    <!-- Content here-->
    <section>
        <div class="bd-exemple-snippet bd-code-snippet">
            <div class="bd-example m-0 border-0">  

                <main class="container">
                    <section class="row">
                        <div class="col-12">
                            <h1>Panier</h1>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Produit</th>
                                        <th>Prix</th>
                                        <th>Quantité</th>
                                        <th>Total</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for element in data %}
                                        <tr>
                                            <td>{{ element.product.name }}</td>
                                            <td>{{ element.product.price / 100 }} €</td>
                                            <td>{{ element.quantity }}</td>
                                            <td>{{ (element.quantity * element.product.price / 100) |format_currency('EUR', locale='de') }}</td>
                                            <td>
                                                
                                                <a href="{{ path('app_cart_add', {id: element.product.id}) }}" class="btn btn-success">+</a>
                                                <a href="{{ path('app_cart_remove', {id: element.product.id}) }}" class="btn btn-warning">-</a>
                                                <a href="{{ path('app_cart_delete', {id: element.product.id}) }}" class="btn btn-danger">Del</a>
                                                
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5">Votre panier est vide</td>
                                        </tr>    
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3">Total</td>
                                        <td>{{ (total / 100) |format_currency('EUR', locale='de') }}</td>
                                        <td>
                                            <a href="{{ path('app_cart_empty') }}" class="btn btn-danger">Vider</a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <a href="{{ path('app_orders_add') }}" class="btn btn-primary">Valider le panier</a>
                        </div>
                    </section>
                </main>                                     

            </div>
        </div>
    </section>
</div>   
{% endblock %}
