{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="archive-title clearfix">
    <div class="row align-items-end">

        <div class="col-md-8">
            <h2 class="page-title mb-2 mb-md-0">List of categories</h2>
            {#<span class="fs-13 text-gray-soft">Category</span>#}            
        </div>
        
        <!--div class="col-md-4">
            
            <form action="#" method="GET">
                <div class="d-flex justify-content-md-end">
                    <select name="orderby" class="form-control text-gray-soft" id="inlineFormCustomSelect">
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by newness</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                    </select>
                </div>
            </form>
            <script>
                jQuery(document).ready(function () {
                    jQuery("#inlineFormCustomSelect").change(function () {
                        jQuery(this).closest("form").submit();
                    });
                });
            
            </script>
        </div-->
    </div>

</div>

<div class="bd-callout bd-callout-info">
    <code><strong>Quel sont les type de e-commerce ?</strong></code>
    Il existe trois principales formes de e-commerce, qui se distinguent par leur clientèle et leur source de revenus: le "Business to Consumer", le "Business to Business" et le "Consumer to Consumer".
</div>

 <div>
    <!-- Content here-->
    <section>
        <div class="bd-exemple-snippet bd-code-snippet">
            <div class="bd-example m-0 border-0">               

                {% for categoryParent in categories %}
                    {% if categoryParent.parent ==  null %}
                        
                        <div class="row row-cols-1 row-cols-md-3 g-4 {{ (loop.first)? '' : ' mt-3'}}">
                            <h2 class="mt-3 ">{{categoryParent.name}}</h2>                                                                          
                        </div>                            
                        <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
                            {% for category in categories %}
                                {% if category.parent != null %}                              
                                    {% if category.parent.id ==  categoryParent.id %}                        
                                        <div class="col">
                                            <div class="card h-100">
                                                <!--img src="..." class="card-img-top" alt="..."-->
                                                <img src="{{ asset('assets/uploads/categories/') ~ category.photo }}" class="d-block w-100" alt="{{ category.photo }}" >
                                                <!--svg class="bd-placeholder-img card-img-top"  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg-->
                    
                                                <div class="card-body">
                                                    <h5 class="card-title">{{category.name}}</h5>
                                                    <p class="card-text">{{category.description}}</p>
                                                </div>
                                                <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
                                                    
                                                    <a href="{{path('app_products_list', {slug: category.slug})}}" class="btn btn-primary justify-content-md-end">Show products</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}                                
                                {% endif %}
                            {% endfor %}  
                        </div>

                    {% endif %}
                {% endfor %}  
                
            </div>
        </div>
    </section>

</div>   

 <!--Pagination-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

{% endblock %}
