{% extends 'base.html.twig' %}

{% block title %}Detail of the produict {{ product.name }}{% endblock %}

{% block body %}

<div class="archive-title clearfix">
    <div class="row align-items-end">

        <div class="col-md-8">
            <h2 class="page-title mb-2 mb-md-0">Detail for product {{product.name}}</h2>
            {#<span class="fs-13 text-gray-soft">Category</span>#}            
        </div>             
    </div>
</div>



<div class="bd-callout bd-callout-info">
    <code><strong>Quel sont les type de e-commerce ?</strong></code>
    Il existe trois principales formes de e-commerce, qui se distinguent par leur clientèle et leur source de revenus: le "Business to Consumer", le "Business to Business" et le "Consumer to Consumer".
</div>

 <div>
    <!-- Content here-->
    <section>
        <div class="bd-exemple-snippet bd-code-snippet">
            <div class="bd-example m-0 border-0">           


            <section class="row">
                <div class="col-12">
                    <h1>{{product.name}}</h1>                    
                </div>
                <div class="col-6">
                    <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            {% for iteration in 1..product.images|length %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}"                                                                 
                                {{ (loop.first)? 'class="active" aria-current="true"' : ''}}
                                aria-label="Slide {{ iteration }}">
                            </button>
                            {% endfor %}    
                        </div>
                        <div class="carousel-inner">
                
                            {% for image in product.images %}
                
                            <div class="carousel-item {{ (loop.first)? 'active' : ''}}">
                                <img src="{{ asset('assets/uploads/products/images/mini/300x300-') ~ image.name }}" class="d-block w-100" width="150" height="auto" alt="{{ image.name }}">
                            </div>
                
                            {% endfor %}
                
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-6">
                    <p>{{ product.description }}</p>
                    <p>Category :     
                        <a href="{{path('app_products_list', {slug: product.categories.slug})}}" class="btn btn-primary">
                            {{ product.categories.name }}
                        </a>
                    </p>
                    <p>
                        Price : {{ (product.price / 100) |format_currency('EUR', locale='de') }} 
                    </p>
                    {% if product.stock > 0 %}
                        <a href="{{ path('app_cart_add', {id: product.id}) }}" class="btn btn-success">Add to card</a>
                    {% else %}
                        <p>Temporairemet en rupture de stock</p>
                        
                    {% endif %}

                </div>
            </section>
            
        </div>
    </div>
</section>

</div>   

{% endblock %}
