{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="archive-title clearfix">
    <div class="row align-items-end">

        <div class="col-md-8">
            <h2 class="page-title mb-2 mb-md-0">Products list of categorie {{category.name}}</h2>
            {#<span class="fs-13 text-gray-soft">Category</span>#}            
        </div>
        
        <!--div class="col-md-4">
            
            <form action="#" method="GET">
                <div class="d-flex justify-content-md-end">
                    <select name="orderby" class="form-control text-gray-soft" id="inlineFormCustomSelect">
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by newness</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                    </select>
                </div>
            </form>
            <script>
                jQuery(document).ready(function () {
                    jQuery("#inlineFormCustomSelect").change(function () {
                        jQuery(this).closest("form").submit();
                    });
                });
            
            </script>
        </div-->
    </div>

</div>

<div class="bd-callout bd-callout-info">
    <code><strong>Quel sont les type de e-commerce ?</strong></code>
    Il existe trois principales formes de e-commerce, qui se distinguent par leur clientèle et leur source de revenus: le "Business to Consumer", le "Business to Business" et le "Consumer to Consumer".
</div>

 <div>
    <!-- Content here-->
    <section>
        <div class="bd-exemple-snippet bd-code-snippet">
            <div class="bd-example m-0 border-0">           
                            
                <div class="row">                                               
                    {% if products.datas is defined  %}
                        {% for product in products.datas %}            
                        <div class="col-4 mb-3 mt-3">
                            <div class="card h-100">
                                
                                {% if product.images[0] != null %}                                                            
                                <img 
                                    src="{{ asset('assets/uploads/products/images/mini/300x300-' ~ product.images[0].name) }}" 
                                    alt="{{ product.name }}"
                                    class="card-img-top"
                                >
                                {% endif %}

                                <div class="card-body">
                                    <h5 class="card-title">{{product.name}}</h5>
                                    <p class="card-text">{{product.description}}</p>
                                    <a href="{{path('app_products_details', {id: product.id})}}" class="btn btn-primary">Show details</a>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-4 mb-3 mt-3">
                            <div class="card h-100">                                
                                <div class="card-body">
                                    <h5 class="card-title">Aucun produit pour cette catégorie</h5>  
                                    <a href="{{path('app_main')}}" class="btn btn-primary justify-content-md-end">Categories list</a>                                  
                                </div>
                            </div>
                        </div>

                    {% endif %}     
                </div>   

            </div>
        </div>
    </section>
</div>   

{# Liste des variables #}
{% if products.datas is defined  %}
    {% set path = 'app_products_list' %}
    {% set slug =  category.slug %}
    {% set pages = products.pages %}
    {% set currentPage = products.page %}

    {% if pages > 1 %}   
        {% include "_partials/_pagination.html.twig" %}
    {% endif %}
{% endif %}

{% endblock %}
