<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Etat</th>
        <th scope="col">Facture</th>
        <th scope="col"><span>Annulation</span><span>Remboursement</span></th>
        <th scope="col">Montant</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">

      {% for order in orders %}
        {#  Statut de la commande #}        
        {% if order.status == 1 %}
            {% set statusStr = 'Expédiée' %}
            {% set color = 'success' %}            
        {% elseif order.status == 2 %}
            {% set statusStr = 'Retournée' %}      
            {% set color = 'tertiary' %}                              
        {% elseif order.status == 3 %}
            {% set statusStr = 'Annulée' %}   
            {% set color = 'warning' %}                                             
        {% else %}
            {% set statusStr = 'En cours' %}       
            {% set color = 'primary' %}            
        {% endif %}
      <tr>
        <th scope="row">{{ order.id }}</th>
        <td>{{ order.createdAt|format_datetime('short', 'none', locale='fr') }}</td>
        <td>        
          <small class="d-inline-flex px-2 fw-semibold text-{{ color }}-emphasis bg-{{ color }}-subtle border border-{{ color }}-subtle rounded-2">
            {{ statusStr }}
          </small>
        </td>
        <td>
          {% if order.status != 0 %}                     
            <a href="{{ path('app_orders_generate_invoice', {id:order.invoices[0].id})}}">Télécharger la facture</a>
          {% endif %}
        </td>
        <td>
          {% if order.status == 3 %}                     
            <a href="{{ path('app_orders_generate_refund', {id:order.refunds[0].id})}}">Télécharger l'annulation</a>
          {% endif %}

        
        </td>

        {% set price = 0 %} {# Montant total TTC par commande #}
        {% for product in order.getOrdersDetails() %}
            {% set price = (price + (product.price * product.quantity)) %}            
        {% endfor %}

        <td class="text-md-end"><code>{{ (price / 100) |format_currency('EUR', locale='de') }}</code></td>
        <td><a class="btn btn-success btn-sm" href="{{ path('app_orders_show_details', {id: order.id}) }}">Voir la commande</a></td>
      </tr>
      {% endfor %}      

    </tbody>
  </table>